doctype html
html(lang='en', style='height: 100%;')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title Mande UI
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Anaheim&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora')
    link(rel='stylesheet', href='assets/fonts/font-awesome.min.css')
    link(rel='stylesheet', href='assets/fonts/ionicons.min.css')
    link(rel='stylesheet', href='assets/css/styles.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  body(style='background: linear-gradient(5deg, rgb(0,103,224), var(--bs-purple));')
    section.clean-hero
      div(style='height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;')
        h1(style='color: var(--bs-white);text-align: left;margin: 30px 30px;') Ajustes
    .container.bg-white(style='padding: 39px 5px;padding-top: 40px;padding-bottom: 40px;margin-right: 12px;margin-left: 12px;padding-left: 6px;padding-right: 6px;')
      .row
        .col-10.col-sm-10.col-md-10.offset-1.offset-sm-1.offset-md-1.text-start.align-content-md-center
          form(role='form' method='post' action='http://localhost:3000/ajustesSocio')
            .form-group.mb-3
              input#celular.form-control(type='hidden', style='margin-bottom: 20px;', name = 'celular', value=celular)
              button.btn.btn-primary(type="submit", name="boton", href="cambioPasswordSocio",value="cambioP") Cambiar Contrase&ntilde;a
            .form-group.mb-3
              button.btn.btn-primary(type="submit", name="boton", href="cambioLabores",value="cambioL") Ajustes de Labores
            .form-group.mb-3
              button.btn.btn-primary(type="submit", name="boton", href="mainSocio",value="volver") Volver
            .row
              .col-md-6(style='margin-top: 20px;')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='assets/js/script.min.js')