doctype html
html(lang='en', style='background: var(--bs-blue);height: 100%;')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title Mande UI
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Anaheim&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora')
    link(rel='stylesheet', href='assets/fonts/font-awesome.min.css')
    link(rel='stylesheet', href='assets/fonts/ionicons.min.css')
    link(rel='stylesheet', href='assets/css/styles.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  body(style='background: linear-gradient(5deg, rgb(0,103,224), rgb(0,163,255));height: 100%;width: 100%;')
    .container
      .row
        .col-md-12(style='height: 300px;')
          h1(style='color: var(--bs-white);font-size: 72px;text-align: center;padding: 130px;font-family: Anaheim, sans-serif;') MANDE
    .container.text-center(style='height: 200px;')
      a.btn.btn-primary.fw-light(role='button', data-bss-hover-animate='pulse', href='login', style='height: 140px;width: 400px;background: var(--bs-gray-100);color: var(--bs-blue);padding: 40px 50px;font-size: 32px;margin: 30px;filter: grayscale(0%) hue-rotate(0deg);border-radius: 70px;max-width: 400px;min-width: 100px;transform-origin: center;border-width: 1px;border-color: var(--bs-gray-900);') INICIAR SESI&Oacute;N
    .container(style='height: 180px;')
      .row(style='height: 180px;')
        .col-md-12.text-center(style='height: 200px;')
          a.btn.btn-primary.fw-light(role='button', data-bss-hover-animate='pulse', href='register', style='height: 140px;width: 400px;background: var(--bs-blue);color: var(--bs-white);padding: 40px 50px;font-size: 32px;box-shadow: 0px 0px 3px;border-radius: 70px;margin: 30px;') REGISTRARSE
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='assets/js/script.min.js')