doctype html
html(lang='en', style='height: 100%;')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title Mande UI
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Anaheim&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora')
    link(rel='stylesheet', href='assets/fonts/font-awesome.min.css')
    link(rel='stylesheet', href='assets/fonts/ionicons.min.css')
    link(rel='stylesheet', href='assets/css/styles.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  body(style='background: linear-gradient(5deg, rgb(0,103,224), rgb(0,163,255));')
    h1(style='color: var(--bs-white);margin-left: 20px;margin-top: 20px;') Registrarse como Cliente
    .container.bg-white(style='padding-top: 10px;padding-bottom: 40px;margin-right: 12px;margin-left: 12px;padding-left: 6px;padding-right: 6px;')
      .row
        .col-10.col-sm-10.col-md-10.offset-1.offset-sm-1.offset-md-1.text-start.align-content-md-center
          form(role='form' method='post' action='http://localhost:3000/registroCliente')
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Nombres
                br
              input#nombre.form-control(type='text', placeholder='Ingrese su nombre', style='margin-bottom: 20px;', onchange='changePassword();', name = 'nombre')
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Apellido
                br
              input#apellido.form-control(type='text', placeholder='Ingrese su apellido', style='margin-bottom: 20px;', onchange='changePassword();',name = 'apellido')
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Contrase&ntilde;a
                br
              input#password.form-control(type='password', placeholder='Ingrese su contraseña', style='margin-bottom: 20px;', onchange='changePassword();',name = 'password')
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Direcci&oacute;n
                br
              input#direccion.form-control(type='text', placeholder='Ingrese su dirección', style='margin-bottom: 20px;', onchange='changePassword();',name = 'direccion')
            div
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Cargar recibo de servicios p&uacute;blicos:
                br
              input.form-control(type='file')
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Celular
                br
              input#celular.form-control(type='tel', placeholder='Ingrese su número de celular', style='margin-bottom: 20px;', onchange='changePassword();',name = 'celular')
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Correo Electr&oacute;nico
                br
              input#correoE.form-control(type='email', placeholder='Ingrese su dirección de email', style='margin-bottom: 20px;', onchange='changePassword();',name = 'correoE')
            .row
              .col-md-6(style='margin-top: 20px;')
              button.btn.btn-secondary(name="boton", href="inicio", value="cancelar") Cancelar
              .col-md-6(style='margin-top: 20px;')
              button.btn.btn-primary(type="submit", name="boton", href="registroCliente2",value="continuar") Continuar
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='assets/js/script.min.js')