doctype html
html(lang='en', style='height: 100%;')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title Mande UI
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Anaheim&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora')
    link(rel='stylesheet', href='assets/fonts/font-awesome.min.css')
    link(rel='stylesheet', href='assets/fonts/ionicons.min.css')
    link(rel='stylesheet', href='assets/css/styles.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  body(style='background: linear-gradient(5deg, rgb(0,103,224), var(--bs-purple));')
    h1(style='color: var(--bs-white);margin-left: 20px;margin-top: 20px;') Registro como Socio
    .container.bg-white(style='padding-top: 10px;padding-bottom: 40px;margin-right: 12px;margin-left: 12px;padding-left: 6px;padding-right: 6px;')
      .row
        .col-10.col-sm-10.col-md-10.offset-1.offset-sm-1.offset-md-1.text-start.align-content-md-center
          form(role='form' method='post' action='http://localhost:3000/registroSocio')
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;color: #505E6C;')
                strong Nombres
              input#nombres.form-control(type='text', style='margin-bottom: 20px;', placeholder='Ingrese sus nombres', name="nombres")
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Apellidos
              input#apellidos.form-control(type='text', style='margin-bottom: 20px;', placeholder='Ingrese sus apellidos', name="apellidos")
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
              strong Contrase&ntilde;a
                br
              input#password.form-control(type='password', placeholder='Ingrese su contrase침a', name="password",style='margin-bottom: 20px;', onchange='changePassword();')
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Direcci&oacute;n
                br
              input#direccion.form-control(type='text', placeholder='Ingrese su direcci칩n', name ="direccion", style='margin-bottom: 20px;', onchange='changePassword();')
            div
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Cargar foto:
                br
              input.form-control(type='file')
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Ingrese la labor que desea desempe침ar. Puede agregar otra luego.
                br
              input#labores.form-control(type='text', data-role='tagsinput', data-class='label-info', placeholder='Ingrese labor', name="labor")
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong Describa como se manejar&aacute;n sus precios
                br
              input#infoPrecios.form-control(type='text', placeholder='Descripci칩n', style='margin-bottom: 20px;', onchange='changePassword();', name="descripcion")
            .form-group.mb-3
              label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #505E6C;')
                strong N&uacute;mero de Celular
                br
              input#celular.form-control(type='text', placeholder='Ingrese su numero de celular', style='margin-bottom: 20px;', onchange='changePassword();', name="celular")
            .row
              .col-md-6(style='margin-top: 20px;')
                button.btn.btn-secondary(name="boton", href="inicio", value="cancelar") Cancelar
              .col-md-6(style='margin-top: 20px;')
                button.btn.btn-primary(type="submit", name="boton", href="loginSocio",value="registro") Registrarse
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='assets/js/script.min.js')
