doctype html
html(lang='en', style='height: 100%;')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title Mande UI
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Anaheim&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora')
    link(rel='stylesheet', href='assets/fonts/font-awesome.min.css')
    link(rel='stylesheet', href='assets/fonts/ionicons.min.css')
    link(rel='stylesheet', href='assets/css/styles.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  body(style='background: linear-gradient(5deg, rgb(0,103,224), rgb(0,163,255));')
    .container(style='background: var(--bs-white);margin-top: 30px;')
      div
        .container
          .row
            .col-md-6
              ul.nav.nav-tabs
                li.nav-item
                  button.btn.btn-primary(type='button', style='background: var(--bs-blue);margin-top: 5px;') Filtrar
                li.nav-item
                  input(type='text', data-role='tagsinput', data-class='label-info', placeholder='Añadir filtro', style='margin-top: 8px;')
              div Custom Code
            .col-md-6
              h1.text-center Mapa de Resultados
              iframe(allowfullscreen='', frameborder='0', loading='lazy', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyBqS_VlCbrd4cI9yBmHY_lMGlytIc1fjvY&q=Cali%2C+Colombia&zoom=11', width='100%', height='400')
            .col
              a.btn.btn-primary(role='button', style='margin: 20px;background: var(--bs-white);color: var(--bs-blue);', href='mainCliente')
                i.icon.ion-arrow-return-left(style='margin-right: 10px;')
                | Volver
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='assets/js/script.min.js')